<div class="container">
    <h2>View Customer Details</h2>
    <form (submit)="viewCustomer()">
      <div class="form-group">
        <label for="customerId">Customer ID</label>
        <input type="number" class="form-control" id="custId" name="id" [(ngModel)]="custId" required>
      </div>
      <button type="submit" class="btn btn-primary">View</button>
    </form>
  
    <!-- Display customer details in a table -->
    <table *ngIf="showDetails" class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Date of Birth</th>
          <th>PAN Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.dob }}</td>
          <td>{{ customer.panNo }}</td>
        </tr>
      </tbody>
    </table>


   
  
    <div *ngIf="accounts.length > 0" class="mt-3">
      <h4>  ACCOUNT DETAILS </h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ACC NO</th>
            <th>ACC TYPE</th>
            <th>AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of accounts">
            <td>{{transaction.accId}}</td>
            <td>{{transaction.accType}}</td>
            <td>{{transaction.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  