<div class="container">
    <h2>Transfer Money</h2>
    <button (click)="logout()">LOG OUT</button>
    <form (submit)="transferMoney()">
      <div class="form-group">
        <label for="fromAccount">From Account ID</label>
        <input type="number" class="form-control" id="faccId" name="faccId" [(ngModel)]="faccId" required>
      </div>
      <div class="form-group">
        <label for="toAccount">To Account ID</label>
        <input type="number" class="form-control" id="taccId" name="taccId" [(ngModel)]="taccId" required>
      </div>
      <div class="form-group">
        <label for="transferAmount">Transfer Amount</label>
        <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="amount" required>
      </div>
      <button type="submit" class="btn btn-primary">Transfer</button>
    </form>
  </div>
  